[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = BY
ST = Minsk
L = Minsk
O = BSUIR_Resource_NAV
OU = WebServer_NAV
CN = RS-LAB22-NAV

[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = LAB22-NAV
DNS.2 = NAV
DNS.3 = localhost